<a href="https://colab.research.google.com/github/aIsHdz/Diplomado/blob/main/Notas%20/%20Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame().dtypes

Series([], dtype: object)

In [ ]:
data = [1, 2, 3, 4, 5]

pd.DataFrame(data)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
pd.DataFrame(data, columns=['Numeros'])

   Numeros
0        1
1        2
2        3
3        4
4        5

In [ ]:
pd.DataFrame(data, columns=['Numeros'], index=['Lun','Mar','Mier','Juev','Vier'])

      Numeros
Lun         1
Mar         2
Mier        3
Juev        4
Vier        5

In [ ]:
data = [['Juan',20],['Luisa',30],['Ricardo',25]]

pd.DataFrame(data, columns=['Nombre','Edad'])

    Nombre  Edad
0     Juan    20
1    Luisa    30
2  Ricardo    25

In [ ]:
#Otra forma de escribir un Data Frame
data = {'Nombre':['Juan','Luisa','Ricardo'],
        'Edad':[20,30,25],
        'Sexo':['H','M','H']}
pd.DataFrame(data)

    Nombre  Edad Sexo
0     Juan    20    H
1    Luisa    30    M
2  Ricardo    25    H

In [ ]:
pd.read_excel('/content/tote_shipment.xlsx')

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [ ]:
from google.colab import drive

In [ ]:
#Conectar nuestro dirve a Google Colab
drive.mount('/content/drive')

%cd /content/drive/My \Drive/NombreDelaCarpeta
#%cd /content/drive/MyDrive/NombreDelaCarpeta   <- Es lo mismo que el renglón de arriba

In [ ]:
df = pd.read_excel('/content/tote_shipment.xlsx')
#Para el caso de que se utilice el archivo de Drive
#df = pd.read_excel('tote_sipment.xlsx')
df.head() #Muestra los primeros 5 valores en principio, df.head(n) para que te ponga n valores

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4

In [ ]:
df.tail() #Muestra los últimos 5 valores en principio, df.tail(n) para que te ponga n valores

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [ ]:
df1 = pd.read_excel('/content/tote_shipment.xlsx', header = None) #Quitarle los encabezados a las columnas

df1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3

In [ ]:
df1.columns = ['Tipo', 'Asset ID', 'Tag ID', 'Sitio', 'Zona', 'Device ID', 'Tiempo', 'lat', 'lng', 'Temp_C', 'Temp_F'] #cambiar el nombre de las columnas
df1

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df.columns #da el nombre de las columnas del Data Frame

Index(['asset_type', 'asset_id', 'tag_id', 'Site', 'Zone', 'device_id',
       'time_est', 'lat', 'lng', 'Temperature_C', 'Temperature_F'],
      dtype='object')

In [ ]:
df = df.rename(columns = {'asset_type':'tipo', 'Site':'sitio', 'Zone':'zona', 'time_set':'hora'}) #cambiar el nombre de una columna o columnas en específico
df.head()

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4

In [ ]:
df.shape #da el número de filas y columnas

(130061, 11)

In [ ]:
df.info() #información del Data Frame xd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tipo           130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   sitio          130061 non-null  object
 4   zona           130061 non-null  object
 5   device_id      130061 non-null  object
 6   time_est       130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 10.9+ MB

In [ ]:
df.describe()

,asset_id,lat,lng,Temperature_C,Temperature_F
count,130061.000000,130061.000000,130061.000000,130061.000000,130061.000000
mean,105.184475,47.760258,-65.668955,25.874445,78.574000
std,61.459262,0.019223,0.049597,2.795208,5.031375
min,2.000000,47.748780,-65.762200,19.000000,66.200000
25%,58.000000,47.749230,-65.641010,24.000000,75.200000
50%,84.000000,47.749230,-65.641010,25.000000,77.000000
75%,167.000000,47.749388,-65.641010,27.500000,81.500000
max,205.000000,47.805010,-65.640330,44.000000,111.200000

In [ ]:
df.describe(include= 'all')

<ipython-input-27-e4fb93151184>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include= 'all')

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
count,130061,130061.000000,130061,130061,130061,130061,130061,130061.000000,130061.000000,130061.000000,130061.000000
unique,1,NaN,34,4,15,38,129887,NaN,NaN,NaN,NaN
top,tote,NaN,(01)00850027865010(21)0082T0953,Store,receiving_Store,AC8DEAE6FD79,2022-08-05 01:04:26.437000,NaN,NaN,NaN,NaN
freq,130061,NaN,6602,96897,66099,43611,2,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-02 10:14:54.326000,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-05 13:28:29.966000,NaN,NaN,NaN,NaN
mean,NaN,105.184475,NaN,NaN,NaN,NaN,NaN,47.760258,-65.668955,25.874445,78.574000
std,NaN,61.459262,NaN,NaN,NaN,NaN,NaN,0.019223,0.049597,2.795208,5.031375
min,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,47.748780,-65.762200,19.000000,66.200000
25%,NaN,58.000000,NaN,NaN,NaN,NaN,NaN,47.749230,-65.641010,24.000000,75.200000
50%,NaN,84.000000,NaN,NaN,NaN,NaN,NaN,47.749230,-65.641010,25.000000,77.000000
75%,NaN,167.000000,NaN,NaN,NaN,NaN,NaN,47.749388,-65.641010,27.500000,81.500000
max,NaN,205.000000,NaN,NaN,NaN,NaN,NaN,47.805010,-65.640330,44.000000,111.200000

In [ ]:
df['asset_id']

0           2
1           2
2           2
3           2
4           2
         ...
130056    205
130057    205
130058    205
130059    205
130060    205
Name: asset_id, Length: 130061, dtype: int64

In [ ]:
df[['asset_id','tag_id']]

        asset_id                           tag_id
0              2  (01)00850027865010(21)0082T0219
1              2  (01)00850027865010(21)0082T0219
2              2  (01)00850027865010(21)0082T0219
3              2  (01)00850027865010(21)0082T0219
4              2  (01)00850027865010(21)0082T0670
...          ...                              ...
130056       205  (01)00850027865010(21)0082T1137
130057       205  (01)00850027865010(21)0082T1137
130058       205  (01)00850027865010(21)0082T1137
130059       205  (01)00850027865010(21)0082T1137
130060       205  (01)00850027865010(21)0082T1137

[130061 rows x 2 columns]

In [ ]:
df['asset_id'].unique() #Muestra los registros únicos

array([  2,  37,  52,  58,  59,  62,  70,  84, 102, 145, 149, 159, 167,
       170, 181, 182, 200, 205])

In [ ]:
df['asset_id'].nunique() #Cuantos registros únicos hay

18

In [ ]:
df.asset_id.unique() #Es otr forma de escribir la línea anterior

array([  2,  37,  52,  58,  59,  62,  70,  84, 102, 145, 149, 159, 167,
       170, 181, 182, 200, 205])

In [ ]:
df.asset_id.nunique()

18

In [ ]:
df.sitio.unique()

array(['DC 1', 'DC 2', 'Transit', 'Store'], dtype=object)

In [ ]:
df.zona.unique()

array(['dock_doors_DC1', 'dock_doors_DC2', 'Forklift3_DC1',
       'pallet_assembly_DC1', 'PhoneKit1Bridge', 'PhoneKit2Bridge',
       'PhoneKit2GW', 'point_of_sale_Store', 'receiving_Store',
       'staging_DC1', 'staging_DC2', 'store_back_Store',
       'store_front_Store', 'Forklift1_DC1', 'PhoneKit1GW'], dtype=object)

In [ ]:
df.groupby(['asset_id']).nunique()

,tipo,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
asset_id,,,,,,,,,,
2,1,2,4,13,28,6769,63,63,238,238
37,1,2,4,14,23,12830,189,232,160,160
52,1,2,3,12,21,6819,53,59,314,314
58,1,2,3,11,19,8829,129,158,98,98
59,1,2,4,14,27,8823,130,158,338,338
62,1,2,4,13,24,11796,203,257,339,339
70,1,1,4,14,32,4648,160,192,281,281
84,1,2,3,13,23,8304,126,159,258,258
102,1,2,4,14,29,8197,110,132,406,406
145,1,2,4,13,21,4055,75,77,77,77
149,1,2,4,14,25,6348,59,61,119,119
159,1,2,4,12,25,6606,130,135,285,285
167,1,2,4,13,20,6774,152,178,408,408
170,1,2,4,14,29,6557,174,216,129,129
181,1,1,3,12,19,3495,33,36,262,262
182,1,2,3,10,23,5868,62,66,154,154
200,1,2,4,15,36,8112,197,240,102,102
205,1,2,4,15,32,5101,207,241,109,109

In [ ]:
df.groupby(['asset_id'])['tag_id'].nunique()

asset_id
2      2
37     2
52     2
58     2
59     2
62     2
70     1
84     2
102    2
145    2
149    2
159    2
167    2
170    2
181    1
182    2
200    2
205    2
Name: tag_id, dtype: int64

In [ ]:
pd.DataFrame(df.groupby(['asset_id'])['tag_id'].nunique()) #En forma de Dta Frame para manejralo diferente

          tag_id
asset_id
2              2
37             2
52             2
58             2
59             2
62             2
70             1
84             2
102            2
145            2
149            2
159            2
167            2
170            2
181            1
182            2
200            2
205            2

In [ ]:
pd.DataFrame(df.groupby(['asset_id'])['tag_id'].nunique()).reset_index() #Para poder agregarle el índice

    asset_id  tag_id
0          2       2
1         37       2
2         52       2
3         58       2
4         59       2
5         62       2
6         70       1
7         84       2
8        102       2
9        145       2
10       149       2
11       159       2
12       167       2
13       170       2
14       181       1
15       182       2
16       200       2
17       205       2

In [ ]:
pd.DataFrame(df.groupby(['sitio'])['zona'].nunique()).reset_index()

     sitio  zona
0     DC 1     5
1     DC 2     2
2    Store     4
3  Transit     4

In [ ]:
import numpy as np
df1.loc[df1['Zona'].sample(frac=2000, replace=True).index, 'Zona'] = np.NaN
df1.loc[df1['Temp_C'].sample(frac=1800, replace=True).index, 'Temp_C'] = np.NaN
df1.loc[df1['Temp_F'].sample(frac=1800, replace=True).index, 'Temp_F'] = np.NaN

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130062 entries, 0 to 130061
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Tipo       130062 non-null  object
 1   Asset ID   130062 non-null  object
 2   Tag ID     130062 non-null  object
 3   Sitio      130062 non-null  object
 4   Zona       0 non-null       object
 5   Device ID  130062 non-null  object
 6   Tiempo     130062 non-null  object
 7   lat        130062 non-null  object
 8   lng        130062 non-null  object
 9   Temp_C     130062 non-null  object
 10  Temp_F     130062 non-null  object
dtypes: object(11)
memory usage: 10.9+ MB

In [ ]:
df2 = df1.fillna(0) #Rellena los valores vacíos
df2

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,0,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,0,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,0,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,0,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,0,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,0,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,0,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,0,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,0,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,0,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df2 = df1.fillna('NA')
df2

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,NA,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,NA,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,NA,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,NA,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,NA,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,NA,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,NA,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,NA,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,NA,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,NA,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df3 = df1.copy()
df3['Zona'] = df3.Zona.fillna('Na')
df3['Temp_C'] = df3.Temp_C.fillna(0)
df3['Temp_F'] = df3.Temp_F.fillna(df.Temperature_F.mean())
df3

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Na,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df3 = df1.copy()
df3['Zona'] = df3.Zona.fillna('Na')
df3['Temp_C'] = df3.Temp_C.fillna(0)
df3['Temp_F'] = df3.Temp_F.fillna(df.Temperature_F.sum())
df3

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Na,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,Na,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,Na,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df1[~df1.Temp_C.isna()]

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,lng,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,NaN,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,NaN,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,NaN,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,NaN,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,NaN,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,NaN,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,NaN,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,NaN,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,NaN,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,NaN,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df4 = df1.dropna() #elimina toda la fila si esta tiene un Na
df4

Empty DataFrame
Columns: [Tipo, Asset ID, Tag ID, Sitio, Zona, Device ID, Tiempo, lat, lng, Temp_C, Temp_F]
Index: []

In [ ]:
df5 = df1.dropna(subset = ['Zona']) #
df5

Empty DataFrame
Columns: [Tipo, Asset ID, Tag ID, Sitio, Zona, Device ID, Tiempo, lat, lng, Temp_C, Temp_F]
Index: []

In [ ]:
df1.isnull().sum()

Tipo              0
Asset ID          0
Tag ID            0
Sitio             0
Zona         130062
Device ID         0
Tiempo            0
lat               0
lng               0
Temp_C            0
Temp_F            0
dtype: int64

In [ ]:
df2 = df[df.asset_id == 2] #Filtrar información por datos de columnas
df2

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.791580,-65.689020,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.791580,-65.689020,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.791580,-65.689020,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.791580,-65.689020,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.791580,-65.689020,23.0,73.4
...,...,...,...,...,...,...,...,...,...,...,...
6764,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:28.894,47.749230,-65.641010,22.0,71.6
6765,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:50.535,47.749230,-65.641010,22.0,71.6
6766,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:01:28.268,47.749230,-65.641010,22.0,71.6
6767,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:02:57.199,47.749388,-65.640811,22.0,71.6
6768,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:04:58.575,47.749230,-65.641010,22.0,71.6

In [ ]:
df2.asset_id.nunique()

1

In [ ]:
df3 = df[df.asset_id.isin([2,70,205])] #Filtrar información por coincidencias en columnas
df3

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [ ]:
df3.asset_id.nunique()

3

In [ ]:
df3 = df[(df.asset_id.isin([2,70,205])) & (df.Temperature_C >= 24)] #Filtrar información por condicionales
df3

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
5,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:22:09.038,47.79366,-65.75921,25.0,77.0
6,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:26:07.080,47.79366,-65.75921,25.0,77.0
7,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 10:59:28.892,47.79366,-65.75921,24.5,76.1
8,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 12:48:11.580,47.79366,-65.75921,25.0,77.0
9,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 13:02:29.755,47.79366,-65.75921,25.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...
129959,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,C8C08D22E0B1,2022-08-04 11:56:08.456,47.74923,-65.64101,24.0,75.2
129960,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:58:22.995,47.74923,-65.64101,24.0,75.2
129961,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:58:43.510,47.74923,-65.64101,24.0,75.2
129962,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:59:14.973,47.74923,-65.64101,24.0,75.2
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.2

In [ ]:
df3.asset_id.nunique()

3

In [ ]:
df3.Temperature_C.min()

24.0

In [ ]:
df3 = df[(df.sitio == 'Store') & (df.Temperature_F >= 76)] #Filtrar información por condicionales
df3

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
241,tote,2,(01)00850027865010(21)0082T0219,Store,point_of_sale_Store,EEEB01ADE266,2022-08-04 10:58:04.546,47.74923,-65.64101,24.5,76.10
253,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,DC4FBAED57C9,2022-08-04 08:35:59.046,47.74923,-65.64101,24.5,76.10
254,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,DC4FBAED57C9,2022-08-04 08:36:17.140,47.74923,-65.64101,24.5,76.10
255,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,AC8DEAE6FD79,2022-08-04 08:37:29.468,47.74909,-65.64076,24.5,76.10
256,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,AC8DEAE6FD79,2022-08-04 08:37:58.624,47.74923,-65.64101,24.5,76.10
...,...,...,...,...,...,...,...,...,...,...,...
129516,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:54:56.166,47.74923,-65.64101,28.0,82.40
129517,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:55:57.114,47.74923,-65.64101,28.0,82.40
129518,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:56:56.734,47.74923,-65.64101,28.0,82.40
129519,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:59:43.126,47.74923,-65.64101,27.0,80.60
129935,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 10:50:26.688,47.74923,-65.64101,25.7,78.26

In [ ]:
df3.sitio.nunique()

1

In [ ]:
df3 = df[(df.Temperature_F >= 76) & (df.Temperature_F <= 80)] #Filtrar información por condicionales
df3

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
5,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:22:09.038,47.793660,-65.759210,25.0,77.00
6,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:26:07.080,47.793660,-65.759210,25.0,77.00
7,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 10:59:28.892,47.793660,-65.759210,24.5,76.10
8,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 12:48:11.580,47.793660,-65.759210,25.0,77.00
9,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 13:02:29.755,47.793660,-65.759210,25.0,77.00
...,...,...,...,...,...,...,...,...,...,...,...
128787,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:09:03.114,47.749230,-65.641010,24.5,76.10
128788,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:09:53.903,47.749230,-65.641010,24.5,76.10
128789,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:10:20.984,47.749230,-65.641010,24.5,76.10
128790,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:10:36.800,47.749388,-65.640811,24.5,76.10
129935,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 10:50:26.688,47.749230,-65.641010,25.7,78.26

In [ ]:
df = df.drop(columns = ['Temperature_F'])
df

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0
...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0

In [ ]:
df['Temperature_F'] = 0
df

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,0
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,0
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,0
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,0
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,0
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,0
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,0
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,0
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,0
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,0

In [ ]:
df['Temperature_F'] = 'NA'
df

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,NA
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,NA
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,NA
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,NA
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,NA
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,NA
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,NA
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,NA
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,NA
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,NA

In [ ]:
df['Temperature_F'] = df['Temperature_C'] + 9/5 + 32
df

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,56.8
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,56.8
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,56.8
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,57.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,56.8
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,56.9
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,57.3
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,56.8
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,56.8
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,57.8

In [ ]:
df1 = df[df.sitio == 'DC 1'].copy()
df1['Sitio_1'] = df1['zona'].str.split(pat = '_')
df1

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Sitio_1
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.00,56.80,"[dock, doors, DC1]"
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.00,56.80,"[dock, doors, DC1]"
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.00,56.80,"[dock, doors, DC1]"
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.50,57.30,"[dock, doors, DC1]"
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.00,56.80,"[dock, doors, DC1]"
...,...,...,...,...,...,...,...,...,...,...,...,...
126896,tote,205,(01)00850027865010(21)0082T1136,DC 1,staging_DC1,770B915B6470,2022-08-02 13:57:26.461,47.79158,-65.68902,25.00,58.80,"[staging, DC1]"
126897,tote,205,(01)00850027865010(21)0082T1137,DC 1,staging_DC1,99A61D1647F7,2022-08-02 13:50:59.716,47.79158,-65.68902,23.67,57.47,"[staging, DC1]"
126898,tote,205,(01)00850027865010(21)0082T1137,DC 1,staging_DC1,36BA90E8F876,2022-08-02 13:51:55.769,47.79158,-65.68902,24.50,58.30,"[staging, DC1]"
126899,tote,205,(01)00850027865010(21)0082T1137,DC 1,staging_DC1,36BA90E8F876,2022-08-02 13:54:24.050,47.79158,-65.68902,24.00,57.80,"[staging, DC1]"
126900,tote,205,(01)00850027865010(21)0082T1137,DC 1,staging_DC1,36BA90E8F876,2022-08-02 13:56:58.117,47.79158,-65.68902,24.50,58.30,"[staging, DC1]"

In [ ]:
from datetime import datetime, date

In [ ]:
df.groupby(['time_est']).asset_id.nunique()

time_est
2022-08-02 10:14:54.326    1
2022-08-02 10:15:38.860    1
2022-08-02 10:17:23.366    1
2022-08-02 10:18:23.847    1
2022-08-02 10:20:43.706    1
                          ..
2022-08-05 13:28:26.584    1
2022-08-05 13:28:27.564    1
2022-08-05 13:28:28.172    1
2022-08-05 13:28:28.576    1
2022-08-05 13:28:29.966    1
Name: asset_id, Length: 129887, dtype: int64

In [ ]:
df['Fecha'] = pd.to_datetime(df.time_est).dt.date
df

,tipo,asset_id,tag_id,sitio,zona,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Sitio_1,Fecha
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,56.8,"[dock, doors, DC1]",2022-08-02
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,56.8,"[dock, doors, DC1]",2022-08-02
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,56.8,"[dock, doors, DC1]",2022-08-02
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,57.3,"[dock, doors, DC1]",2022-08-02
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,56.8,"[dock, doors, DC1]",2022-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,56.9,"[store, front, Store]",2022-08-04
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,57.3,"[store, front, Store]",2022-08-04
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,56.8,"[store, front, Store]",2022-08-04
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,56.8,"[store, front, Store]",2022-08-04
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,57.8,"[store, front, Store]",2022-08-04

In [ ]:
df.groupby(['Fecha']).asset_id.nunique()

Fecha
2022-08-02    18
2022-08-03    13
2022-08-04    18
2022-08-05    18
Name: asset_id, dtype: int64

In [ ]:
df.groupby(['Fecha', 'sitio']).asset_id.nunique()

Fecha       sitio
2022-08-02  DC 1       18
            DC 2        5
            Transit    18
2022-08-03  DC 2        8
            Transit    10
2022-08-04  DC 2       11
            Store      18
            Transit    18
2022-08-05  Store      18
Name: asset_id, dtype: int64

In [ ]:
df.groupby(['Fecha', 'sitio', 'zona']).asset_id.nunique()

Fecha       sitio    zona
2022-08-02  DC 1     Forklift1_DC1          14
                     Forklift3_DC1          17
                     dock_doors_DC1         16
                     pallet_assembly_DC1    16
                     staging_DC1            18
            DC 2     dock_doors_DC2          3
                     staging_DC2             4
            Transit  PhoneKit1Bridge        18
                     PhoneKit2Bridge        18
                     PhoneKit2GW            18
2022-08-03  DC 2     dock_doors_DC2          8
                     staging_DC2             2
            Transit  PhoneKit1Bridge        10
                     PhoneKit1GW             6
                     PhoneKit2Bridge        10
                     PhoneKit2GW            10
2022-08-04  DC 2     dock_doors_DC2          9
                     staging_DC2             6
            Store    point_of_sale_Store    12
                     receiving_Store        18
                     store_back_Store       18
                     store_front_Store      18
            Transit  PhoneKit1Bridge        18
                     PhoneKit1GW            15
                     PhoneKit2Bridge        16
                     PhoneKit2GW            18
2022-08-05  Store    point_of_sale_Store     2
                     receiving_Store        16
                     store_back_Store       18
                     store_front_Store      13
Name: asset_id, dtype: int64

In [ ]:
df.groupby(['Fecha', 'sitio','zona', 'asset_id']).asset_id.nunique()

Fecha       sitio  zona               asset_id
2022-08-02  DC 1   Forklift1_DC1      37          1
                                      52          1
                                      59          1
                                      62          1
                                      70          1
                                                 ..
2022-08-05  Store  store_front_Store  159         1
                                      167         1
                                      170         1
                                      181         1
                                      200         1
Name: asset_id, Length: 385, dtype: int64

In [ ]:
df.groupby(['Fecha', 'sitio', 'asset_id']).agg(temp_min = ('Temperature_C', 'min'), temp_max = ('Temperature_C', 'max'))

                           temp_min  temp_max
Fecha      sitio asset_id
2022-08-02 DC 1  2            22.50     24.50
                 37           22.50     23.00
                 52           22.50     23.00
                 58           22.50     24.00
                 59           22.50     23.50
...                             ...       ...
2022-08-05 Store 170          24.00     29.50
                 181          23.50     27.83
                 182          20.25     31.00
                 200          24.00     41.50
                 205          20.50     25.00

[124 rows x 2 columns]

In [ ]:
#Armar un análisis de la base de datos
#Qué es, para qué sirve,